button{
        width: 250px;
        height: 80px;
        font-family: Roboto, sans-serif;
        font-weight:bold;
        color: #fff;
        border:2px solid #ddd;
        border-radius:15px;
        margin: 5px;
        cursor: pointer;
        font-Size: 35px;
        float: left;
}

button:hover{
        background-color:#00471b;
}

.boton-clic{
        background-color:#002ead;
}

.boton-reiniciar{
        background-color:#5a01a7;
}