.contador{
        width: 520px;
        height: 300px;
        font-size:150px;
        padding:25px;
        color:#fff;
        display: flex;
        align-items: center;
        justify-content:center;
        border:8px solid #fff;
        margin-bottom: 15px;
        background-color: rgb(56, 56, 53);
}